* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}